{% extends 'base.html' %}
{% load static %}
{% block title %} Detect disease in Leaves {% endblock title %}
<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

<!-- Web Fonts  -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light&display=swap"
    rel="stylesheet" type="text/css">

<!-- Vendor CSS -->
<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/animate/animate.compat.css' %}">
<link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.min.css' %}">


<!-- Theme CSS -->
<link rel="stylesheet" href="{% static 'css/theme.css' %}">
<link rel="stylesheet" href="{% static 'css/theme-elements.css' %}">
<link rel="stylesheet" href="{% static 'css/theme-blog.css' %}">
<link rel="stylesheet" href="{% static 'css/theme-shop.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
<!-- Current Page CSS -->
<link rel="stylesheet" href="{% static 'vendor/circle-flip-slideshow/css/component.css' %}">
<!-- Skin CSS -->
<link rel="stylesheet" href="{% static 'css/skins/default.css' %}">

<!-- Theme Custom CSS -->
<link rel="stylesheet" href="{% static 'css/custom.css' %}">

<!-- Head Libs -->
<script src="{% static 'vendor/modernizr/modernizr.min.js' %}"></script>

{% block body %}
    <div class="body mt-4">
    <form method="POST" action="predict/" enctype="multipart/form-data">
    {{ form.as_p }}
    {% csrf_token %}
        <center>
            <input type="file" id = 'image' class="mt-4 ml-4" name="filepath" required><br>
        </center>
            <button class="btn btn-modified mt-5" type="submit" style="margin-left: 51rem;">Detect Disease</button>
            </button>
    </div>
{% endblock body %}