{% extends 'base.html' %}

{% block title %} Contact{% endblock title %}

{% block body %}
<div class="container my-3">
<h3>Contact Us</h3>
<form action="/contact" method="post">
{% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name"aria-describedby="name">
  </div>

  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>

  <div class="form-group">
    <label for="phone">Phone Number</label>
    <input type="tel" class="form-control" id="phone" name="phone">
  </div>

  <div class="form-group">
    <label for="content">Describe your issue :</label>
    <textarea class="form-control" name="content" id="content" cols="30" rows="5"></textarea>
  </div>

<br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
 {% endblock %}