
{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

<!-- Web Fonts  -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light&display=swap"
    rel="stylesheet" type="text/css">

<!-- Vendor CSS -->
<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/animate/animate.compat.css' %}">
<link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.min.css' %}">
<link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.min.css' %}">


<!-- Theme CSS -->
<link rel="stylesheet" href="{% static 'css/theme.css' %}">
<link rel="stylesheet" href="{% static 'css/theme-elements.css' %}">
<link rel="stylesheet" href="{% static 'css/theme-blog.css' %}">
<link rel="stylesheet" href="{% static 'css/theme-shop.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
<!-- Current Page CSS -->
<link rel="stylesheet" href="{% static 'vendor/circle-flip-slideshow/css/component.css' %}">
<!-- Skin CSS -->
<link rel="stylesheet" href="{% static 'css/skins/default.css' %}">

<!-- Theme Custom CSS -->
<link rel="stylesheet" href="{% static 'css/custom.css' %}">

<!-- Head Libs -->
<script src="{% static 'vendor/modernizr/modernizr.min.js' %}"></script>


{% block body %}

<div class="body">
    <div class="row" style="margin-top: 1.5rem;">
        <div class="random2 col-lg-2 mr-5" style="margin-left: 2.6em;">
            <ul class="list list-icons" >
                    <li>
                        <a type="button" class="btn btn-light mb-2" href="/category/apple"><img src="{% static 'img/bg-corporate-1-1.jpg' %}" width="30" height="30"
                            style="border-radius: 100%;"></i> Apple</a>
                    </li>
                    <li>
                        <a type="button" class="btn btn-light mb-2" href="/category/blueberry"><img src="{% static 'img/bg-corporate-1-1.jpg' %}" width="30" height="30"
                            style="border-radius: 100%;"></i>Blueberry</a>
                    </li>
                    <li>
                        <a type="button" class="btn btn-light mb-2" href="/category/cherry"><img src="{% static 'img/bg-corporate-1-1.jpg' %}" width="30" height="30"
                            style="border-radius: 100%;"></i> Cherry</a>
                    </li>
                    <li>
                        <a type="button" class="btn btn-light mb-2" href="/category/potato"><img src="{% static 'img/bg-corporate-1-1.jpg' %}" width="30" height="30"
                            style="border-radius: 100%;"></i> Potato</a>
                    </li>
                    <li>
                        <a type="button" class="btn btn-light mb-2" href="/category/corn"><img src="{% static 'img/bg-corporate-1-1.jpg' %}" width="30" height="30"
                            style="border-radius: 100%;"></i>Corn</a>
                    </li>					<li>
                        <a type="button" class="btn btn-light mb-2" href="/category/grape"><img src="{% static 'img/bg-corporate-1-1.jpg' %}" width="30" height="30"
                            style="border-radius: 100%;"></i>Grape</a>
                    </li>
                    <li>
                        <a type="button" class="btn btn-light mb-2" href="/category/orange"><img src="{% static 'img/bg-corporate-1-1.jpg' %}" width="30" height="30"
                            style="border-radius: 100%;"></i>Orange</a>
                    </li>
                                    <li>
                        <a type="button" class="btn btn-light mb-2" href="/category/peach"><img src="{% static 'img/bg-corporate-1-1.jpg' %}" width="30" height="30"
                            style="border-radius: 100%;"></i>Peach</a>
                    </li>
                                                   <li>
                        <a type="button" class="btn btn-light mb-2" href="/category/pepper"><img src="{% static 'img/bg-corporate-1-1.jpg' %}" width="30" height="30"
                            style="border-radius: 100%;"></i>Pepper Bell</a>
                    </li>
                                                                   <li>
                        <a type="button" class="btn btn-light mb-2" href="/category/raspberry"><img src="{% static 'img/bg-corporate-1-1.jpg' %}" width="30" height="30"
                            style="border-radius: 100%;"></i>Raspberry</a>
                    </li>
                                                                   <li>
                        <a type="button" class="btn btn-light mb-2" href="/category/soyabean"><img src="{% static 'img/bg-corporate-1-1.jpg' %}" width="30" height="30"
                            style="border-radius: 100%;"></i>Soyabean</a>
                    </li>
                                       <li> <a type="button" class="btn btn-light mb-2" href="/category/squash"><img src="{% static 'img/bg-corporate-1-1.jpg' %}" width="30" height="30"
                            style="border-radius: 100%;"></i>Squash</a>
                    </li>
                                                       <li> <a type="button" class="btn btn-light mb-2" href="/category/strawberry"><img src="{% static 'img/bg-corporate-1-1.jpg' %}" width="30" height="30"
                            style="border-radius: 100%;"></i>Strawberry</a>
                    </li>
                                                                       <li> <a type="button" class="btn btn-light mb-2" href="/category/tomato"><img src="{% static 'img/bg-corporate-1-1.jpg' %}" width="30" height="30"
                            style="border-radius: 100%;"></i>Tomato</a>
                    </li>
            </ul>
        </div>
        <div class="random1 col-lg-6 mr-3 ml-3">
            <div class="row mb-2 pt-4 pl-3 pb-4 " style="background-color: white; border: 1px solid rgba(99, 99, 99, 0.247)">
                <div class="col-auto mr-0 pr-0">
                    <img src="{% static 'img/bg-corporate-1-1.jpg' %}" width="40" height="40" style="border-radius: 100%;">
                </div>
                {% if user.is_authenticated %}
                    <div class="col-auto pl-2 pt-0">
                        <a class=" btn btn-modern" href="/ask-question">What's is your question?</a>
                    </div>
                {% else %}
                    <div class="col-auto pl-2 pt-0">
                        <a class=" btn btn-modern" href="/detect">Detect Disease</a>
                    </div>
                {% endif %}
                <!-- Form -->
                <form id="demo-form" class="white-popup-block mfp-hide">
                    <div class="form-row mt-2">
                        <div class="col-sm-12">
                            <h4>Add question</h4>
                            <div class="container">
                                <center> <h1>Ask a Question</h1>
                                 <p>Type your question below. You can also use Markdown to help format your question.</p></center>
                                 <form class="" action="ask-question" method="post" class="forms1" style="margin-top: 1.3em;align-items:center;">
                                     {% csrf_token %}
                                   <div class="form-group">
                             <label for="Question Title">Category</label>
                             <select class="form-control" id="title" name="title" style="box-shadow: 2.5px 2.5px 2.5px grey;">
                               <option>Medical</option>
                               <option>Education</option>
                               <option>Science</option>
                               <option>BLBLA</option>
                               <option>Other</option>
                             </select>
                           </div><br>
                            <div class="form-group">
                             <textarea  name="question" class="form-control" id="question" rows="8" placeholder="Whats your question?" style="box-shadow: 2.5px 2.5px 2.5px grey;" required></textarea>
                           </div><br>
                         <div class="form-group">
                             <input type="text" class="form-control" id="posted_by" name="posted_by" autocomplete="off" placeholder="Enter your name ..."style="box-shadow: 2.5px 2.5px 2.5px grey;"required>
                           </div><br>
                           {% csrf_token %}
                           <input type="submit" name="ask"  class="btn btn-primary" value="Ask Question" style="box-shadow: 2.5px 2.5px 2.5px grey;">
                                 </form>
                         </div>
                        </div>
                    </div>

                    
            </div>
            <div class="card row mb-2 p-4">
                <div class="row">
                    <div class="col-auto mr-0 pr-0"><img src="{% static 'img/bg-corporate-1-1.jpg' %}" width="30" height="30"
                            style="border-radius: 100%;"></div>
                    <div class="col-auto pl-2">
                        <p>Amit Timalsina</p>
                    </div>
                    <div class="col-auto ml-0 pl-0">
                        <p style="color: rgba(0, 0, 0, 0.212)">January 5</p>
                    </div>
                </div>
                <a href="#q1">
                    <h4>Did Amber Heard really cheat on Johnny Depp with Elon Musk? </h4>
                </a>
                <img class="card-img-top" src="{% static 'img/blog/wide/blog-11.jpg' %}" alt="Card Image">
                <div class="card-body">
                    <div data-plugin-readmore data-plugin-options="{
                                'buttonOpenLabel': 'Read More <i class=\'fas fa-chevron-down text-2 ml-1\'></i>',
                                'buttonCloseLabel': 'Read Less <i class=\'fas fa-chevron-up text-2 ml-1\'></i>'
                            }">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Totam placeat dolores, minima
                            voluptas quo eos, repellat delectus inventore velit. Nulla placeat eius in, alias
                            architecto magnam aliquid debitis adipisci voluptate. Lorem ipsum, dolor, sit amet
                            consectetur adipisicing elit. Voluptate, aut. Aspernatur sapiente ad quod perspiciatis
                            pariatur necessitatibus, omnis, labore dolore minus expedita, suscipit rerum vitae
                            repellendus quia at aperiam laborum!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis iusto odit quidem
                            commodi voluptates vitae dolores temporibus itaque labore cumque nobis animi facilis,
                            quod, nisi laboriosam sit. Veritatis tenetur, commodi.</p>
                        <div class="readmore-button-wrapper d-none">
                            <a href="#" class="text-decoration-none">
                                Read More
                                <i class="fas fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card row mb-2 p-4">
                <div class="row">
                    <div class="col-auto mr-0 pr-0"><img src="{% static 'img/bg-corporate-1-1.jpg' %}" width="30" height="30"
                            style="border-radius: 100%;"></div>
                    <div class="col-auto pl-2">
                        <p>{{ postss }}</p>
                    </div>
                    <div class="col-auto ml-0 pl-0">
                        <p style="color: rgba(0, 0, 0, 0.212)">January 5</p>
                    </div>
                </div>
                <a href="#q1">
                    <h4>Did Amber Heard really cheat on Johnny Depp with Elon Musk? </h4>
                </a>
                <img class="card-img-top" src="{% static 'img/blog/wide/blog-11.jpg' %}" alt="Card Image">
                <div class="card-body">
                    <div data-plugin-readmore data-plugin-options="{
                                'buttonOpenLabel': 'Read More <i class=\'fas fa-chevron-down text-2 ml-1\'></i>',
                                'buttonCloseLabel': 'Read Less <i class=\'fas fa-chevron-up text-2 ml-1\'></i>'
                            }">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Totam placeat dolores, minima
                            voluptas quo eos, repellat delectus inventore velit. Nulla placeat eius in, alias
                            architecto magnam aliquid debitis adipisci voluptate. Lorem ipsum, dolor, sit amet
                            consectetur adipisicing elit. Voluptate, aut. Aspernatur sapiente ad quod perspiciatis
                            pariatur necessitatibus, omnis, labore dolore minus expedita, suscipit rerum vitae
                            repellendus quia at aperiam laborum!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis iusto odit quidem
                            commodi voluptates vitae dolores temporibus itaque labore cumque nobis animi facilis,
                            quod, nisi laboriosam sit. Veritatis tenetur, commodi.</p>
                        <div class="readmore-button-wrapper d-none">
                            <a href="#" class="text-decoration-none">
                                Read More
                                <i class="fas fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card row mb-2 p-4">
                <div class="row">
                    <div class="col-auto mr-0 pr-0"><img src="{% static 'img/bg-corporate-1-1.jpg' %}" width="30" height="30"
                            style="border-radius: 100%;"></div>
                    <div class="col-auto pl-2">
                        <p>Amit Timalsina</p>
                    </div>
                    <div class="col-auto ml-0 pl-0">
                        <p style="color: rgba(0, 0, 0, 0.212)">January 5</p>
                    </div>
                </div>
                <a href="#q1">
                    <h4>Did Amber Heard really cheat on Johnny Depp with Elon Musk? </h4>
                </a>
                {% load static %}
                <img class="card-img-top" src="{% static 'img/blog/wide/blog-11.jpg' %}" alt="Card Image">
                <div class="card-body">
                    <div data-plugin-readmore data-plugin-options="{
                                'buttonOpenLabel': 'Read More <i class=\'fas fa-chevron-down text-2 ml-1\'></i>',
                                'buttonCloseLabel': 'Read Less <i class=\'fas fa-chevron-up text-2 ml-1\'></i>'
                            }">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Totam placeat dolores, minima
                            voluptas quo eos, repellat delectus inventore velit. Nulla placeat eius in, alias
                            architecto magnam aliquid debitis adipisci voluptate. Lorem ipsum, dolor, sit amet
                            consectetur adipisicing elit. Voluptate, aut. Aspernatur sapiente ad quod perspiciatis
                            pariatur necessitatibus, omnis, labore dolore minus expedita, suscipit rerum vitae
                            repellendus quia at aperiam laborum!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis iusto odit quidem
                            commodi voluptates vitae dolores temporibus itaque labore cumque nobis animi facilis,
                            quod, nisi laboriosam sit. Veritatis tenetur, commodi.</p>
                        <div class="readmore-button-wrapper d-none">
                            <a href="#" class="text-decoration-none">
                                Read More
                                <i class="fas fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="random 1 col-lg-2 ml-4">
            <div class="card row border-radius-2 bg-color-light box-shadow-1 p-3">
                <div class="card-body">
                    <h4 class="card-title mb-1 text-4 font-weight-bold"># Fun Fact</h4>
                    <p class="card-text">Farming began around 10,000 B.C. during the First Agricultural Revolution, when nomadic tribes began to farm. Additionally, this is when the eight so-called “founder crops” of agriculture appeared: 1) emmer wheat, 2) einkorn wheat, 3) hulled barley, 4) peas, 5) lentils, 6) bitter vetch, 7) chickpeas, and 8) flax.</p>
                </div>
            </div>
            <div class="card row border-radius-2 bg-color-light box-shadow-1 p-3 mt-2">
                <div class="card-body">
                    <h4 class="card-title mb-1 text-4 font-weight-bold"># Fun fact</h4>
                    <p class="card-text">The Mesopotamians built the first simple irrigation system around 7000 B.C. The earliest large-scale irrigation system was created around 4000 B.C. in southern Russia. This system had canals up to 10 feet across and more than a mile long.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-12345678-1', 'auto');
        ga('send', 'pageview');
    </script>
     -->

 {% endblock %}