{% extends 'base.html' %}

{% block title %} Password Reset {% endblock title %}

{% block body %}
{% if user.is_authenticated %}
<div class="container">
	<div class="d-flex flex-column">
	<br><br>
			<p class="m-auto" style="font-size:30px;">&#128513; HeHe you are logged in <a href="/">go back</a> &#128513;</p>
	</div>
</div>
{% else %}
<style>
.form-group{
    margin:0 20px
}

</style>
<center><h1>Password Reset</h1></center>
<br><br>
<div class="form-group">
<form method="POST">
{% csrf_token %}
  <br>
<div class="form-group">
    <label for="id_new_password1">New-Password</label>
    <input type="password" class="form-control" name="new_password1" autocomplete="new-password" required id="id_new_password1"> <span class="helptext"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></span></p>
  </div>
  <br>
<div class="form-group">
    <label for="id_new_password2">Confirm-Password</label>
    <input type="password" class="form-control" name="new_password2" autocomplete="new-password" required id="id_new_password2">
  </div>
  <br>
<center> <div class="registrationFormAlert" style="color:black;font-size: 22px;" id="CheckPasswordMatch2"> </div></center><br>
<button class="btn"style="margin:0 20px">Change Password</button>
</div>
 <script>
    function checkPasswordMatch2() {
        var password = $("#id_new_password1").val();
        var confirmPassword = $("#id_new_password2").val();
        if (password != confirmPassword)
         $("#CheckPasswordMatch2").html("Passwords does not match!");
        else
          $("#CheckPasswordMatch2").html("Passwords matched.");
    }
    $(document).ready(function () {
       $("#id_new_password2").keyup(checkPasswordMatch2);
    });
    </script>
{% endif %}
 {% endblock %}