/* Add here all your CSS customizations */
@media (max-width: 700px) {
    .header-row img{
        width: 60px;
        height: 30px !important;
    }
    .header-row .d-flex{
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
    .header-row .d-flex i{
        font-size: 1.2rem;
    }
    .header-row .d-flex a{
        padding: 5px !important;
        margin-left: 3px !important;
        margin-right: 0;
    }
    .header-row .d-flex li{
        margin: 0 !important;
        padding: 0 !important;
    }
    .header-row button {
        font-size: 0.45rem;
        width: 210px;
        height: 30px;
        font-weight: bold;
        overflow: hidden;
    }
    .header-row .search-with-select i {
        font-size: 1.2rem !important;
        padding: auto !important;
    }
    .header-row .header-nav-features {
        margin: 0 !important;
    }
    .btn-modified {
        margin-left: 8rem !important;
    }
    .random{
        margin-left: 0 !important;
    }
    .custom-title-box{
        margin-left: 4rem !important;
    }
    .random1{
        margin-left: 4px !important;
        padding-left: 4px !important;
    }
    .random2{
        margin-left: 4rem !important;
    }
    .btn-modern{
        width: 20rem !important;
    }
}

@media (min-width: 700px) and (max-width: 800px) {
    .btn-modified {
        margin-left: 20rem !important;
    }
    .custom-title-box{
        margin-left: 15rem !important;
    }
    .random{
        margin-left: 4rem !important;
    }
}
@media (min-width: 800px) and (max-width: 1100px) {
    .btn-modified {
        margin-left: 28rem !important;
    }
}
.custom-btn-style-1, .custom-btn-style-1:active {
	background: rgb(0, 49, 68);
	border: none;
	border-radius: 50px !important;
	padding: 13px 20px;
	font-size: 15px;
	font-weight: bold;
    text-transform: uppercase;
	transition: ease all 300ms; 
    color: #fff;
    margin-left: 3.5rem;
}

.custom-btn-style-1:hover {
	opacity: 0.9;
    color: #fff;
}
.custom-title-box a {
	float: center;
}
.custom-title-box{
    margin-top: 6rem;
    margin-left: 5rem;
}
.custom-title-box h1{
    font-weight: bold;
    font-size: 2.5rem !important;
}